In [1]:
import numpy as np
import pandas as pd
# https://journals.ametsoc.org/view/journals/atot/35/3/jtech-d-17-0104.1.xml

In [2]:
import Florian as flo
import gsw
wmo = 6900798
data = flo.read_data(wmo)

In [3]:
data

,depth,depth_qc,temp,temp_qc,psal,psal_qc,chla,chla_qc,chla_adjusted,chla_adjusted_qc,bbp,bbp_qc,bbp_adjusted,bbp_adjusted_qc,time,lat,lon,wmo,id
0,4.2,b'1',8.363,b'1',35.256,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1
1,6,b'1',8.365,b'1',35.256,b'1',3.0744,b'3',1.53,b'1',0.00310812,b'2',NaN,b' ',22097.779155,69.088,2.434,6900798,1
2,8,b'1',8.364,b'1',35.256,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1
3,10,b'1',8.365,b'1',35.255,b'1',2.86654,b'3',1.42607,b'1',0.00318367,b'2',NaN,b' ',22097.779155,69.088,2.434,6900798,1
4,12,b'1',8.363,b'1',35.254,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214457,1196.1,b'1',-0.446,b'1',34.908,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314
214458,1197.4,b'1',-0.447,b'1',34.908,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314
214459,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314
214460,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314
214461,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314

In [4]:
# compute density
# see https://teos-10.github.io/GSW-Python/
psal = gsw.SA_from_SP(np.array(data['psal']), np.array(data['depth']), np.array(data['lon']), np.array(data['lat']))
temp = gsw.CT_from_t(psal, np.array(data['temp']), np.array(data['depth']))
sigma = gsw.sigma0(psal, temp)
data['sigma'] = sigma

In [5]:
data

,depth,depth_qc,temp,temp_qc,psal,psal_qc,chla,chla_qc,chla_adjusted,chla_adjusted_qc,bbp,bbp_qc,bbp_adjusted,bbp_adjusted_qc,time,lat,lon,wmo,id,sigma
0,4.2,b'1',8.363,b'1',35.256,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1,27.421972
1,6,b'1',8.365,b'1',35.256,b'1',3.0744,b'3',1.53,b'1',0.00310812,b'2',NaN,b' ',22097.779155,69.088,2.434,6900798,1,27.421695
2,8,b'1',8.364,b'1',35.256,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1,27.421885
3,10,b'1',8.365,b'1',35.255,b'1',2.86654,b'3',1.42607,b'1',0.00318367,b'2',NaN,b' ',22097.779155,69.088,2.434,6900798,1,27.420981
4,12,b'1',8.363,b'1',35.254,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22097.779155,69.088,2.434,6900798,1,27.420539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214457,1196.1,b'1',-0.446,b'1',34.908,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314,28.060667
214458,1197.4,b'1',-0.447,b'1',34.908,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314,28.060718
214459,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314,NaN
214460,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314,NaN
214461,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',23996.989942,77.675,-1.998,6900798,314,NaN

In [6]:
tmp = data[data.id == 100]
tmp

,depth,depth_qc,temp,temp_qc,psal,psal_qc,chla,chla_qc,chla_adjusted,chla_adjusted_qc,bbp,bbp_qc,bbp_adjusted,bbp_adjusted_qc,time,lat,lon,wmo,id,sigma
67617,4,b'1',9.876,b'1',35.236,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,27.160601
67618,6,b'1',9.876,b'1',35.235,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,27.159864
67619,6.38,b'1',9.876,b'8',35.2352,b'8',1.4112,b'3',0.6984,b'1',0.00302053,b'2',NaN,b' ',22839.989132,68.645,1.591,6900798,100,27.160021
67620,8,b'1',9.876,b'1',35.236,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,27.160687
67621,9.9,b'1',9.876,b'1',35.235,b'1',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,27.159947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68295,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,NaN
68296,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,NaN
68297,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,NaN
68298,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,NaN
68299,NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',NaN,b' ',22839.989132,68.645,1.591,6900798,100,NaN

In [7]:
tmp = tmp[['depth', 'sigma']]
tmp.dropna(inplace=True)
#tmp.to_csv('prof_test2.csv', sep = ",")

/home/flo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
def mld_estimation_Huang(data):
    
    # need to check the QCs but this step should be done before
    
    data = data[['depth', 'sigma']]
    data.dropna(inplace=True)
    
    depth = np.array(data['depth'])
    sigma = np.array(data['sigma'])
    
    sd_density = list()
    for i in range(len(sigma)):
        tmp = np.std(sigma[:i+1])
        sd_density.append(tmp)
    
    range_density = list()
    for i in range(len(sigma)):
        tmp = np.max(sigma[:i+1]) - np.min(sigma[:i+1])
        range_density.append(tmp)
        
    khi = np.array(sd_density)/np.array(range_density)
    
    zn1_index = np.concatenate(np.where(khi == np.nanmin(khi)))[0] # why did Louis put %>% max on a which.min
    if zn1_index == len(khi):
        zn1_index = zn1_index-1
        
    zn2 = list()
    for i in range(zn1_index):
        #print(i)
        zn2.append(float(np.diff(sd_density[i:i+2])/np.diff(sd_density[zn1_index:(zn1_index+2)])))
    
    zn2 = np.array(zn2) 
    
    if any(x<= 0.3 for x in zn2) == True:
        zn2_index = np.max(np.concatenate(np.where(zn2 <= 0.3)))
    else:
        zn2_index = zn1_index
        
    return(depth[zn2_index])

In [9]:
mld_estimation_Huang(tmp)

/home/flo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: RuntimeWarning: invalid value encountered in true_divide

35.900001525878906